<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>用户登录</title>
</head>
<body>
<form action="./login" method="post">
<input type="hidden" name="from" value="$from"/>
<table border="1px">
	<tr>
		<td width="20%">帐号</td>
		<td width="80%"><input type="text" name="account"/></td>
	</tr>
	<tr>
		<td width="20%">密码</td>
		<td width="80%"><input type="password" name="password"/></td>
	</tr>
	<tr>
		<td colspan="2">
		   <input type="submit" value="登录">
		   <input type="reset" value="重置">
		</td>
	</tr>
</table>
<!--fail为true才显示，没设置或者为false不显示-->
#if( $fail )
<span style="color:red">帐号或密码错误</span>
#end
</form>
</body>
</html>